.container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente el contenido */
    padding: 10px 20px; /* Añade espacio alrededor del contenido */
    background-image: url("/turnos.png"); /* Color de fondo */
    border-bottom: 1px solid #ccc; /* Borde inferior */
}

.logo {
    width: 50px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción */
}

.menu {
    display: flex;
}

.menu span {
    margin-left: 20px; /* Espacio entre elementos del menú */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
}

.menu span:hover {
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    text-decoration: underline; /* Subraya el texto al pasar por encima */
}
